html {
	/* height: 100%; */
	max-height: 1000px;
	width: 150vw;
    background-size: cover;
	background-color: black;
	background-image:		
		url('./assets/kyle-gregory-devaras-QFjSiok61xA-unsplash.jpg');
	background-repeat: repeat;
	/* background-position: 
		100% 100%; */
	animation: 120s para infinite linear;
    overflow-x: hidden;
    

	}

@keyframes para {
	100% {
		background-position: 
			-5px 100%;
		}
	}

body {
  margin: 1vw;  
  background-color: transparent;
   
}

h1 {
    font-family: 'Bebas Neue';
    color: rgba(255, 255, 255, 0.829);
    letter-spacing: 4px;
    font-size: 5em;
    font-weight: bolder;
    text-shadow: 4px 4px rgba(102, 62, 16, 0.527);
}

h2 {
    font-family: 'Bebas Neue';
    color: rgba(255, 255, 255, 0.829);
    letter-spacing: 4px;
    font-size: 3em;
    font-weight: bolder;
    text-shadow: 4px 4px rgba(102, 62, 16, 0.527);
}


p {
    font-family: 'Bebas Neue';
    color: rgba(255, 255, 255, 0.829);
    letter-spacing: 4px;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 4px 4px rgba(102, 62, 16, 0.527);
   
}




button {
    margin: 2vw;
    
    height: 89vh;
    width: 156vw;

}

#search {
    border: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    opacity: 0.75;

}

#container {
    margin-left: 25vw;
    background-color: rgba(0, 0, 0, 0.589);
    width: 56vw;
   
}


#content {
   margin-left: 6vw;
   padding: 20px;

}

#title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: white;
}

#caption {
    color: white;
    text-align: left;
}


#copywrite {
    font-size: 1rem;
    color: white;
}









